.menu_title_container{
    color: white;
}

.menu_title_container h1{
    margin: 15px;
    font-size: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu_title_container hr{
    margin: 20px;

}

@media(max-width:767px){
    .menu_title_container h1{
        font-size: 60px;
    }

}