.container-content{
    border: 1px solid white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
     
}

.content-cover{
    
}

.content-cover img{
    border: 4px solid grey;  
    border-radius: 5px;
    width: 500px;
    height: 300px;
}

.content-description{
    margin-top: 10px;
}

.content-description p {
    color: grey;
}
