.articles{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 780px) {
    .articles{
        display: flex;
        flex-direction: column;

    }
    
}